.Login {
	width: 20rem;
	height: 30rem;
	padding: 2rem;

	box-sizing: content-box;
	display: grid;
	grid-template-rows: min-content auto min-content;

	text-align: center;

	color: white;
	background-color: var(--main);
	border-radius: var(--br);
	box-shadow: 1px 2px 2px var(--shadow-color);
}

.Heading {
	margin-bottom: 0.5rem;
	font-size: var(--h2);
}

.Login > form {
	color: black;
}
