.Container {
	position: relative;

	margin-top: 0.5rem;
	width: min(25vw, 18rem);
	max-width: 100%;
	min-width: 12rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Label {
	position: absolute;
	top: 0;
	left: 0.5rem;
	padding-left: 1px;
	pointer-events: none;
	font-size: var(--small-font);
	height: 2.5rem;
	line-height: 2.5rem;
	transition: line-height 250ms;
}

.Container.focused .Label {
	line-height: 1.2rem;
}

.Input {
	width: 100%;
	height: 100%;

	padding: 0.8rem 0.5rem 0 0.5rem;
	line-height: 3rem;

	font-size: 1rem;

	outline: 1px solid var(--dark);
	border: 1px solid var(--dark);

	outline-offset: -1px;
	border-radius: var(--br);

	transition: outline-offset 50ms;
}

.Input:focus-visible {
	outline-offset: 0.1rem;
}

.Errors {
	color: var(--error);
	padding-left: calc(0.5rem + 1px);
	font-size: var(--small-font);
}
